* {
  font-family: Ubuntu, sans-serif;
}

.span:first-letter{
  letter-spacing: 12vmax; 
}

.span {
  position: relative;
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-size: 12.4em;
  display: block;
  overflow: hidden;
  width: fit-content;
  height: max-content;
}
 
.span:before{
  content:'';
  background-image: url('https://staticdelivery.nexusmods.com/mods/1151/images/528-0-1447526230.png');
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;    
  animation: rotateIn 0.5s ease-out;
}

.phrase {
  text-align: center;
  font-style: italic;
  font-weight: 400;
  color: rgb(0, 0, 0);
  margin-top: 0;
  line-height: 22px;
}
