body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  height: 100%;
  color: rgb(0, 0, 0);
  font-family: 'Roboto', sans-serif;
}

html {
  height: 100%;
}

button {
  background-color: #f96e4d;
  border: 0;
  padding: 11px 22px;
  border-radius: 50px;
  color: #fff;
  margin: 3px;
  cursor: pointer;
  font-weight: 900;
}

:root {
  --purple: #7276e1;
  --orange: hsl(14, 88%, 65%);
  --blue-dark: hsl(238, 29%, 16%);
  --grey-light: hsl(237, 12%, 33%);
  --blue-mid: hsl(240, 6%, 50%);
  --font: 'Kumbh Sans', sans-serif;
  --base-font-size: 1.2rem;
}

.attribution { 
  color: #fff;
  font-size: 11px; 
  margin-top: 25px;
  text-align: center;  
}

.attribution a { color:#fff; }

* { box-sizing: border-box; }

.faq__heading { 
  color: var(--blue-dark);
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center; 
}

.faq__header {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.faq__header button {
  color: #f96e4d;
  background-color: #fff;
  border-radius: 0;
  padding: 0;
  border-bottom: 1px solid #f96e4d;
}

.faq__header button:hover {
  color: #000;
}

.faq__detail {
  border-bottom: 1px solid hsl(240, 5%, 91%);
  margin: 15px 0 0 0;
  padding: 5px 0 20px 0;
}

.faq__summary:hover,
.faq__summary:active { 
  color: var(--orange);
  cursor: pointer; 
}

.faq__detail[open] > .faq__summary { 
  font-weight: 700; 
}

.faq__summary {
  list-style: none;
}

.faq__summary::-webkit-details-marker {
  display: none;
}

.faq__summary { 
  display: block;
  padding: 0;
  position: relative;
  text-align: right;
}

  
.faq__summary:after {
  display: inline-block;
  content: url("https://bobmatyas.github.io/fm-faq-accordion/images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right center;
  text-align: right;
  padding-bottom: 20px;
}

details[open] .faq__summary:after {
  display: inline-block;
  width: 18px;
  height: 10px;
  content: "";
  background-image: url("https://bobmatyas.github.io/fm-faq-accordion/images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center right;
  transform:scaleY(-1);
}


.faq__question {
  left: 0;
  position: absolute;
  text-align: left;
  top: 0;
}

.faq__summary {
  color: var(--blue-dark);
  font-size: 1.3rem; 
}

.faq__text {
  color: var(--blue-mid);
  font-size: var(--base-font-size);
  line-height: 1.6;
  margin: 10px 0 0 0;
}

.hidden-lg { display: block; }
  
.visible-lg { display: none; }


@media (min-width: 900px) {
  .faq__holder {
      width: 350px;
  }

  .faq__heading {
      text-align: left;
  }

  .hidden-lg { display: none; }

  .visible-lg { 
      display: block; 
      position: absolute;
      margin-top: 120px;
      left: -80px;    
  }

  .faq__detail {
      margin: 10px 0 0 0 0;
      padding: 0;
  }
}

.pagination {
  display: flex;
  margin: 0 auto;
}

.paginationButtonText {
  background-color: #f96e4d;
  border: 0;
  padding: 10px;
  border-radius: 50px;
  color: #fff;
  margin: 3px;
  cursor: pointer;
}

.paginationButton {
  background-color: #f96e4d;
  border: 0;
  padding: 5px 2px;
  border-radius: 50px;
  color: #fff;
  margin: 3px;
  cursor: pointer;
}

.paginationButtonActive {
  background-color: #f96e4d;
  border: 0;
  padding: 5px 2px;
  border-radius: 50px;
  color: rgb(0, 0, 0);
  margin: 3px;
  cursor: pointer;
}

.form__input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1rem;
	margin: 0 auto;
  padding: 1rem;
  border-radius: 0.2rem;
  width: 95%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  border: 1px solid hsl(240, 5%, 70%);
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}
