body {
  margin: 0;
  padding: 0;
  background-color: #24242c;
  height: 100%;
  color: white;
  font-family: 'Roboto', sans-serif;
}

html {
  height: 100%;
}

button {
  background-color: #f96e4d;
  border: 0;
  padding: 11px 22px;
  border-radius: 50px;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
  font-weight: 900;
}
